/* TODO Add site wide styles */

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.images {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

/* Nav Bar CSS */

#landing-page-nav-list {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
}

#landing-page-logo {
    margin-left: 3%;
    font-family: "Monarcha", sans-serif;
    font-size: 40px;
}

.modal-nav-bar-link:link, .modal-nav-bar-link:visited  {
    color: #205A94;
}

.modal-nav-bar-link:hover {
    color: white;
}

#landing-page-login-button {
    color: white;
    background: none;
    border: none;
    font-size: 22px;
    margin-left: auto;
    margin-right: 2%;
}

#landing-page-signup-button {
    background-color: #205A94;
    color: white;
    font-size: 22px;
    margin-right: 5%;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-width: 150px;
    border: none;
}

#landing-page-login-button:hover {
    outline: none;
    text-decoration: underline;
}

#landing-page-login-button:focus {
    outline: none;
    text-decoration: underline #205A94;
}

#landing-page-signup-button:hover {
    outline: none;
    background-color: #4c78a3;
}

#landing-page-signup-button:focus {
    outline: none;
}


/* The Modal (background) */

.nav-bar-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Login Modal Content */
.nav-bar-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 400px;
}

#nav-bar-login-form {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

#login-form-username, #login-form-password {
    width: 100%;
    height: 30px;
    max-width: 200px;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px 0px 0px 0px;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
}

#login-form-username:focus, #login-form-password:focus {
    outline: none;
}

#login-form-username::placeholder, #login-form-password::placeholder {
    text-align: center;
    font-family: inherit;
    padding-bottom: 15px;
}

#login-form-header {
    align-self: center;
    font-family: "Monarcha", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#register-now-header {
    margin-top: 5%;
    align-self: center;
    font-size: 15px;
    font-family: inherit;
}

#register-now-button {
    align-self: center;
    width: 100%;
    max-width: 120px;
    margin-top: 10px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 15px;
    color: #205A94;
    font-family: inherit;
}

#register-now-button:hover {
    color: #041b33;
    outline: none;
}

#login-form-button {
    width: 100%;
    height: 40px;
    max-width: 150px;
    align-self: center;
    margin-top: 30px;
    background-color: #205A94;
    color: white;
    border: none;
    border-radius: 4px;
    outline-color: #205A94;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}

#login-form-button:hover {
    background-color: #4c78a3;
    outline: none;
    border: none;
    color: white;
}

#demo-user {
    width: 100%;
    height: 40px;
    max-width: 150px;
    align-self: center;
    margin-top: 20px;
    background: none;
    color: #205A94;
    border-color: #205A94;
    border-radius: 4px;
    outline-color: #205A94;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}

#demo-user:hover {
    background-color: #205A94;
    color: white;
}

  /* The Close Button */
.modal-close {
    color: #aaaaaa;
    padding-right: 2%;
    font-size: 40px;
    font-weight: normal;
    align-self: flex-end;
}

.modal-close:hover,
.modal-close:focus {
    color: #205A94;
    text-decoration: none;
    cursor: pointer;
}

/* Login Modal Content */
.nav-bar-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 400px;
}

#nav-bar-register-form {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

#register-form-username,
#register-form-email,
#register-form-firstname,
#register-form-lastname,
#register-form-password {
    width: 100%;
    height: 30px;
    max-width: 200px;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px 0px 0px 0px;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
}

#register-form-username:focus,
#register-form-email:focus,
#register-form-firstname:focus,
#register-form-lastname:focus,
#register-form-password:focus {
    outline: none;
}

#register-form-username::placeholder,
#register-form-email::placeholder,
#register-form-firstname::placeholder,
#register-form-lastname::placeholder,
#register-form-password::placeholder {
    text-align: center;
    font-family: inherit;
    padding-bottom: 15px;
}

#register-form-header {
    align-self: center;
    font-family: "Monarcha", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#login-now-header {
    margin-top: 5%;
    align-self: center;
    font-size: 15px;
    font-family: inherit;
}

#login-now-button {
    align-self: center;
    width: 100%;
    max-width: 120px;
    margin-top: 10px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 15px;
    color: #205A94;
    font-family: inherit;
}

#login-now-button:hover {
    color: #041b33;
    outline: none;
}

#register-form-button {
    width: 100%;
    height: 40px;
    max-width: 150px;
    align-self: center;
    margin-top: 30px;
    background: #205A94;
    color: white;
    border: none;
    border-radius: 4px;
    outline-color: #205A94;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}

#register-form-button:hover {
    background-color: #4c78a3;
    color: white;
}

#register-form-button:active {
    border: none;
}


/* Landing Page CSS */

#main-content-body-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-image: url('./images/main-content-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 960px;
    max-height: 960px;
    height: 100%;
    width: 100%;
}

#main-content-desc-container {
    width: 100%;
    max-width: 520px;
    margin: 0% 10%;
    overflow-wrap: break-word;
    margin-top: 8%;
}

#main-content-header-1 {
    font-family: inherit;
    font-size: 16px;
    color: #205A94;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
}

#main-content-header-2 {
    font-family: "Monarcha", sans-serif;
    font-size: 32px;
    color: white;
    font-weight: 700;
}

#main-content-body {
    font-family: inherit;
    font-size: 1.5em;
    color: #205A94;
    margin-top: 5%;
}

#main-content-button {
    font-family: inherit;
    font-size: 1.4em;
    font-weight: 700;
    color: #205A94;
    max-width: 300px;
    width: 100%;
    height: 100%;
    min-height: 80px;
    background: transparent;
    padding: 10px;
    border: 4px solid #205A94;
    margin-top: 10%;
}

#main-content-button:hover {
    color: white;
    background-color: #205A94;
}

/* Landing Page Featured Section */

#main-featured {
    display: flex;
    flex-direction: column;
    min-height: 760px;
    max-height: 960px;
    height: 100%;
    width: 100%;
    color: #454545;
    margin: 100px 0;
}

#main-featured-collection {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#main-featured-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Montserrate", sans-serif;
    margin-left: 5%;
    width: 100%;
}

#main-featured-header {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color:#205A94;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 10%;
    border-bottom: 1px solid#454545;
    margin-right: 10%;
    padding-bottom: 10px;
}

#main-featured-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10%;
}

#main-featured-profile-header {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#main-featured-image {
    max-width: 75%;
    height: auto;
    margin-left: 10%;
    box-shadow: 10px 10px 20px 5px black;
}

#main-featured-profile-image {
    max-width: 50px;
    height: auto;
}

#featured-profile-img {
    border-radius: 100px;
}

#featured-profile-user {
    font-family: inherit;
    font-size: 25px;
    color: inherit;
    align-self: center;
    margin-left: 2%;
}

#featured-item-count {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
}

#main-featured-item-container {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin: 10% 10% 0 0;
}

#main-featured-item-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 35px;
}

#main-featured-item-description {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
    margin-top: 20px;
}

/* --Home Page CSS-- */

/* Home Page Nav Bar CSS */

#homepage-nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: "Monarcha", "Montserrat", sans-serif;
    border-bottom: 3px solid #00000029;
}

.nav-bar-link:link, .nav-bar-link:visited {
    color: #205A94;
}

#homepage-nav-bar-logo {
    font-size: 30px;
}

#homepage-nav-bar-account {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#homepage-featured-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 5% 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    min-width: 800px;
    height: 400px;
}

#homepage-featured-header {
    grid-column: 2 / 3;
}

#homepage-featured-image {
    width: 100%;
    height: 100%;
    background: url("https://starwarsblog.starwars.com/wp-content/uploads/2015/07/S5001259.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    grid-row: 3 / 7;
    grid-column: 2 / 4;
}

#homepage-featured-user-pic {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    justify-self: right;
}

#homepage-featured-user {
    align-self: center;
    justify-self: left;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

#homepage-featured-item-name {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

#homepage-featured-item-description {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
}
