/* TODO Add site wide styles */

a:link, a:visited {
    text-decoration: none;
    color: white;
}

body {
    margin: 0 0 0 0;
}

.images {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.fa_custom {
    color: #A2A2A2;
    padding: 0 0 0 15px;
}

/* Nav Bar CSS */
#header-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 5px 1px 5px 0;
    z-index: 1;
}

#landing-page-nav-list {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
}

#landing-page-logo, #landing-page-logo-logged {
    display: flex;
    align-items: center;
    margin-left: 3%;
    font-family: "Monarcha", sans-serif;
    font-size: 40px;
}

.modal-nav-bar-link:link, .modal-nav-bar-link:visited  {
    color: #205A94;
}

.modal-nav-bar-link:hover {
    /* color: white; */
    text-decoration: underline;
}

#logo-not-logged:hover {
    color: white;
    text-decoration: none;
}

#landing-page-login-button {
    color: #205A94;
    background: none;
    border: none;
    font-size: 22px;
    margin-left: auto;
    margin-right: 2%;
}

#landing-page-signup-button {
    background-color: #205A94;
    color: white;
    font-size: 22px;
    margin-right: 5%;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-width: 150px;
    border: none;
}

#landing-page-login-button:hover, #my-account-button:hover {
    outline: none;
    text-decoration: underline;
}

#landing-page-login-button:focus, #my-account-button:focus {
    outline: none;
    text-decoration: underline #205A94;
}

#landing-page-signup-button:hover {
    outline: none;
    background-color: #4c78a3;
}

#landing-page-signup-button:focus {
    outline: none;
}

.landing-page-links:link, .landing-page-links:visited {
    color: black;
}

.landing-page-links:hover {
    color: #205A94;
}

#landing-page-nav-list-logged {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    background-color: white;
    box-shadow: 5px 1px 5px 0;
}

#my-account-container-logged {
    margin: 0 5% 0 0;
    align-self: center;
}

#my-account-button {
    color: #205A94;
    background: none;
    border: none;
    font-size: 22px;
    width: 150px;
}

#my-account-container {
    position: relative;
    display: inline-block;
    margin: 0 0 0 0;
}

#logout-button {
    color: #205A94;
    background: none;
    border: none;
    font-size: 22px;
    width: 150px;
}

#add-collection-button {
    background: none;
    color: #205A94;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}

#add-item-button {
    background: none;
    color: #205A94;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}

#add-collection-button:hover, #add-item-button:hover, #logout-button:hover {
    text-decoration: underline;
}

#add-collection-button:focus, #add-item-button:focus, #logout-button:focus {
    outline: none;
    text-decoration: underline #205A94;
}

/* The Modal (background) */

.nav-bar-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Login Modal Content */
.nav-bar-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 400px;
}

#nav-bar-login-form, #nav-bar-create-form {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

#login-form-username, #login-form-password {
    width: 100%;
    height: 30px;
    max-width: 200px;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px 0px 0px 0px;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
}

#login-form-username:focus, #login-form-password:focus {
    outline: none;
}

#login-form-username::placeholder, #login-form-password::placeholder {
    text-align: center;
    font-family: inherit;
    padding-bottom: 15px;
}

#login-form-header {
    align-self: center;
    font-family: "Monarcha", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#register-now-header {
    margin-top: 5%;
    align-self: center;
    font-size: 15px;
    font-family: inherit;
}

#register-now-button {
    align-self: center;
    width: 100%;
    max-width: 120px;
    margin-top: 10px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 15px;
    color: #205A94;
    font-family: inherit;
}

#register-now-button:hover {
    color: #041b33;
    outline: none;
}

#login-form-button {
    width: 100%;
    height: 40px;
    max-width: 150px;
    align-self: center;
    margin-top: 30px;
    background-color: #205A94;
    color: white;
    border: none;
    border-radius: 4px;
    outline-color: #205A94;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}

#login-form-button:hover {
    background-color: #4c78a3;
    outline: none;
    border: none;
    color: white;
}

#demo-user {
    width: 100%;
    height: 40px;
    max-width: 150px;
    align-self: center;
    margin-top: 20px;
    background: none;
    color: #205A94;
    border-color: #205A94;
    border-radius: 4px;
    outline-color: #205A94;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}

#demo-user:hover {
    background-color: #205A94;
    color: white;
}

  /* The Close Button */
.modal-close {
    color: #aaaaaa;
    padding-right: 2%;
    font-size: 40px;
    font-weight: normal;
    align-self: flex-end;
}

.modal-close:hover,
.modal-close:focus {
    color: #205A94;
    text-decoration: none;
    cursor: pointer;
}

/* Register Modal Content */
.nav-bar-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 400px;
}

#nav-bar-register-form {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

#register-form-username,
#register-form-email,
#register-form-firstname,
#register-form-lastname,
#register-form-password {
    width: 100%;
    height: 30px;
    max-width: 200px;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px 0px 0px 0px;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
}

#register-form-username:focus,
#register-form-email:focus,
#register-form-firstname:focus,
#register-form-lastname:focus,
#register-form-password:focus {
    outline: none;
}

#register-form-username::placeholder,
#register-form-email::placeholder,
#register-form-firstname::placeholder,
#register-form-lastname::placeholder,
#register-form-password::placeholder {
    text-align: center;
    font-family: inherit;
    padding-bottom: 15px;
}

#register-form-header {
    align-self: center;
    font-family: "Monarcha", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#login-now-header {
    margin-top: 5%;
    align-self: center;
    font-size: 15px;
    font-family: inherit;
}

#login-now-button {
    align-self: center;
    width: 100%;
    max-width: 120px;
    margin-top: 10px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 15px;
    color: #205A94;
    font-family: inherit;
}

#login-now-button:hover {
    color: #041b33;
    outline: none;
}

#register-form-button {
    width: 100%;
    height: 40px;
    max-width: 150px;
    align-self: center;
    margin-top: 30px;
    background: #205A94;
    color: white;
    border: none;
    border-radius: 4px;
    outline-color: #205A94;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
}

#register-form-button:hover {
    background-color: #4c78a3;
    color: white;
}

#register-form-button:active {
    border: none;
}

/* Create Modal Content */

#create-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.create-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: 330px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

#create-form-elements {
    margin: 10px 0 0 0;
}

#create-form-header {
    font-family: "Monarcha", sans-serif;
    font-size: 2em;
    margin: 20px 0 0 5%;
}

#create-form-collection {
    margin: 50px 5% 0 5%;
    padding: 0 0 5px 8px;
    width: 50%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #454545;
    outline: none;
    background: none;
    font-size: 0.9em;
    font-family: inherit;
}

#create-form-category {
    margin: 0 0 0 20px;
    padding: 0 0 5px 8px;
    width: 180px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #454545;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: 0.9em;
}

#create-form-collection::placeholder {
    opacity: 0.6;
}

select {
    color: #9e9e9e;
}

select:focus {
    color: black;
}

option:not(:first-of-type) {
    color: black;
}

option:first-of-type {
    display: none;
    color: #9e9e9e;
}


#create-form-next-button {
    margin: 80px 0 0 75%;
    color: white;
    background-color: #205A94;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    font-size: 0.9em;
    font-family: inherit;
}

.right-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

/* Create Item Modal */

.create-item-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 700px;
    height: 500px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

#create-item-form-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    height: 250px;
}

#create-item-form-header {
    margin: 0 0 0 5%;
    font-family: "Monarcha", sans-serif;
    font-size: 1.5em;
}

#create-item-form-elements-left {
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 5%;
    width: 100%;
    max-width: 20em;
}

#create-item-form-elements-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 5% 0 0 10%;
}

#create-item-form-name,
#create-item-form-description,
#create-item-form-year,
#create-item-form-condition {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: 0.9em;
}

#create-item-form-name {
    padding: 0 0 5px 5px;
    margin: 0 0 0 0;
}

#create-item-form-description {
    margin: 40px 0 0 0;
    padding: 0 0 0 5px;
    height: 6.5em;
    resize: none;
    border-bottom: 2px solid #454545;
}

#create-item-form-year {
    padding: 0 0 5px 5px;
    border-bottom: 2px solid #454545;
    width: 200px;
}

#create-item-form-condition {
    padding: 0 0 5px 5px;
    margin: 2em 0 0 0;
    border-bottom: 2px solid #454545;
    width: 200px;
}

#create-item-form-upload {
    margin: 20px 0 0 0;
    background: none;
}

#drag-drop-container {

}

#drag-drop-zone {
    margin: 20px 0 0 0;
    width: 100%;
    max-width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}

#image-preview {
    margin: 10px 0 0 20px;
    width: 100%;
    max-width: 160px;
    height: 120px;
}

/* .drop-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    border: 3px solid gray;
    padding: 2rem 0 0 0;
    height: 2em;
    width: 12em;
    font-size: 1em;
}

.drop-display {
    margin: 10px 0 0 1.5em;
} */

#create-item-form-button {
    margin: 120px 0 0 72%;
    color: white;
    background-color: #205A94;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    font-size: 0.9em;
    font-family: inherit;
}



/* Landing Page CSS */

#main-content-body-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-image: url('./images/main-content-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 960px;
    max-height: 960px;
    height: 100%;
    width: 100%;
}

#main-content-desc-container {
    width: 100%;
    max-width: 520px;
    margin: 0% 10%;
    overflow-wrap: break-word;
    margin-top: 8%;
}

#main-content-header-1 {
    font-family: inherit;
    font-size: 16px;
    color: #205A94;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
}

#main-content-header-2 {
    font-family: "Monarcha", sans-serif;
    font-size: 32px;
    color: white;
    font-weight: 700;
}

#main-content-body {
    font-family: inherit;
    font-size: 1.5em;
    color: #205A94;
    margin-top: 5%;
}

#main-content-button {
    font-family: inherit;
    font-size: 1.4em;
    font-weight: 700;
    color: #205A94;
    max-width: 300px;
    width: 100%;
    height: 100%;
    min-height: 80px;
    background: transparent;
    padding: 10px;
    border: 4px solid #205A94;
    margin-top: 10%;
}

#main-content-button:hover {
    color: white;
    background-color: #205A94;
}

/* Landing Page Featured Section */

#main-featured {
    display: flex;
    flex-direction: column;
    min-height: 660px;
    max-height: 960px;
    height: 100%;
    width: 100%;
    color: #454545;
    margin: 100px 0;
}

#main-featured-collection {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#main-featured-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Montserrate", sans-serif;
    margin-left: 5%;
    width: 100%;
}

#main-featured-header {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color:#205A94;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 10%;
    border-bottom: 1px solid#454545;
    margin-right: 10%;
    padding-bottom: 10px;
}

#main-featured-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10%;
}

#main-featured-profile-header {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#main-featured-image {
    max-width: 75%;
    height: auto;
    margin-left: 10%;
    box-shadow: 0px 5px 10px black;
}

#main-featured-profile-image {
    max-width: 50px;
    height: auto;
}

#featured-profile-img {
    border-radius: 100px;
}

#featured-profile-user {
    font-family: inherit;
    font-size: 25px;
    color: inherit;
    align-self: center;
    margin-left: 2%;
}

#featured-item-count {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
}

#main-featured-item-container {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin: 10% 10% 0 0;
}

#main-featured-item-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 35px;
}

#main-featured-item-description {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
    margin-top: 20px;
}

/* Landing Page Explore Feature */

#explore-collections-master {
    min-height: 400px;
    width: 100%;
    background-color: #F4F4F4;
}

#search-master-container {
    width: 100%;
    height: 100px;
    padding: 40px 0 0 0;
}

#search-bar {
    width: 100%;
    height: 100%;
    font-size: 40px;
    border-bottom: 1px solid #454545;
    border-top: none;
    border-right: none;
    border-left: none;
    background: transparent;
    background-image: url('./images/vector_search_icon.svg');
    background-repeat: no-repeat;
    background-position: 25px 33px;
    background-size: 35px;
    padding-left: 80px;
    opacity: 80%;
}

#search-bar::placeholder {
    opacity: 75%;
}

#main-search-bar-container {
    margin: 0 10%;
}

#main-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    padding: 20px 0 50px 0;
    margin: 0 10%;
}

.main-categories {
    padding: 20px 0 0 0;
}

/* Footer CSS */

#footer-master-container {
    display: flex;
    flex-direction: row;
    min-height: 180px;
    width: 100%;
    background-color: #205A94;
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: white;
}

#footer-column-1 {
    width: 100%;
    margin: 0 17.5%;
}

#footer-column-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 17.5%;
}

#my-info {
    display: flex;
    flex-direction: column;
    padding: 10% 0 15% 0;
}

.personal-info {
    padding: 10px 0 0 0;
}

#social-media-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10% 0 0 0;
}

#linked-in {
    padding: 0 15px 0 0;
}

.footer-links:link, .footer-links:visited {
    color: white;
}

/* --Home Page CSS-- */

/* Home Page Nav Bar CSS */

#homepage-nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: "Monarcha", "Montserrat", sans-serif;
    border-bottom: 3px solid #00000029;
}

.nav-bar-link:link, .nav-bar-link:visited {
    color: #205A94;
}

#homepage-nav-bar-logo {
    font-size: 30px;
}

#homepage-nav-bar-account {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#homepage-featured-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 5% 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    min-width: 800px;
    height: 400px;
}

#homepage-featured-header {
    grid-column: 2 / 3;
}

#homepage-featured-image {
    width: 100%;
    height: 100%;
    background: url("https://starwarsblog.starwars.com/wp-content/uploads/2015/07/S5001259.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    grid-row: 3 / 7;
    grid-column: 2 / 4;
}

#homepage-featured-user-pic {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    justify-self: right;
}

#homepage-featured-user {
    align-self: center;
    justify-self: left;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

#homepage-featured-item-name {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

#homepage-featured-item-description {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
}

/* Category Template CSS */

#category-master-container {
    width: 100%;
    height: 100%;
    font-family: "Montserrate", sans-serif;
    font-size: 16px;
    margin: 100px 0 0 0;
}

#category-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300px;
    opacity: 0.5;
    z-index: -2;
}

#category-type-header {
    margin: 2% 0 0 0;
}

#category-img-layer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    background-color:rgba(32, 90, 148, 0.7);
}

#category-header {
    font-family: "Monarcha", sans-serif;
    font-size: 7em;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 75px 0 0 0;
}

#category-search-container {
    margin: 100px 10% 0 10%;
}

#category-gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#category-gallery-1, #category-gallery-2 {
    display: flex;
    flex-direction: row;
    margin: 20px 10% 0 10%;
    justify-content: space-evenly;
}

#category-gallery-1 {
    padding: 2% 0 0 0
}

#category-gallery-2 {
    padding: 2% 0 2% 0;
}

.category-gallery-frame {
    max-width: 300px;
    height: auto;
    padding: 20px 0 5% 0;
}

.category-gallery-img {
    width: 100%;
    height: auto;
}

.category-gallery-card {
    background-color: white;
    padding: 0 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
}

.category-gallery-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.category-gallery-likes-container {

}

.category-gallery-info {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.category-gallery-user {
    font-family: inherit;
    font-size: 1em;
    padding: 0 0 10px 0;
}

.category-gallery-title {
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0 15% 10% 0;
}

/* Profile Page CSS */
/*
#profile-page-master {
    display: flex;
    flex-direction: column;
} */

#profile-page-master {
    width: 100%;
    max-width: 1900px;
}

#profile-page-nav {
    width: 100%;
    height: 100px;
}

#profile-page-banner-container {
    max-height: 200px;
}

#profile-banner-img-container {
    width: 100%;
    height: 400px;
    position: relative;
}

#profile-banner-img-container {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
}

#profile-banner-img {
    object-fit: cover;
    width: 100%;
    object-position: 10% 80%;
    max-height: 400px;
}

#profile-img-container {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid white;
    margin: 290px 0 0 100px;
    z-index: 1;
}

#profile-page-img {
    object-fit: cover;
    object-position: 10% 10%;
    width: 100%;
    height: auto;
}

#profile-user-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

#profile-user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin: 40px 0 0 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

#profile-username {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 700;
}

#profile-user-item-total {
    font-family: inherit;
    font-size: 1em;
    opacity: 0.5;
    margin: 10px 0 0 0;
}

#profile-user-follow {
    font-family: inherit;
    font-size: 1.5em;
    width: 120px;
    height: 40px;
    background-color: #205A94;
    color: white;
    margin: 20px 0 0 0;
}

#profile-user-gallery-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 0 100px 10%;
}

#profile-user-gallery-1 {
    margin: 0 10% 0 0;
}

#profile-user-gallery-2 {
    margin: 0 10% 0 0;
}

#profile-categories-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#profile-category-1-container {
    background-color: #F2F2F2;
}

#profile-category-1-container, #profile-category-2-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
}

.profile-header-container {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
}

.profile-category-header {
    margin: 50px 0 0 10%;
    font-family: inherit;
    font-size: 3em;
    font-weight: 700;
    color: #205A94;
}

.profile-category-show {
    font-family: inherit;
    margin: 50px 10% 0 0;
}

.profile-category-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

#profile-category-1-content, #profile-category-2-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
}

.profile-content-gallery {
    width: 100%;
    max-width: 250px;
    padding: 10px 2% 0 2%;
}

#profile-page-footer-container {
    width: 100%;
    height: 300px;
}
