#footer-master-container {
    display: flex;
    flex-direction: row;
    min-height: 180px;
    width: 100%;
    background-color: #205A94;
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: white;
}

#footer-column-1 {
    width: 100%;
    margin: 0 17.5%;
}

#footer-column-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 17.5%;
}

#my-info {
    display: flex;
    flex-direction: column;
    padding: 10% 0 15% 0;
}

.personal-info {
    padding: 10px 0 0 0;
}

#social-media-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10% 0 0 0;
}

#linked-in {
    padding: 0 15px 0 0;
}

.footer-links:link, .footer-links:visited {
    color: white;
}
